/* top welcome banner on home page*/
.descrambler-banner{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height:45vh;
  margin-top:15vh;
  background-color: rgb(252, 163, 17);
  border-inline: 0px;
  border-style: solid;
  border-color: white;
}

.descrambler-input{
  margin: 2vh 4vw 2vh 4vw;
  max-width: 80vw;
}

/*  2x? grid that holds boxes with links to categories*/
.descrambler-grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  row-gap: 5vh;
  column-gap: 10vh;

  /* center category boxes*/
  margin: 5vh 10vw 10vh 10vw;

}

#aboutproject{
  margin-top:15vh;
  text-align:center; 
  font-size:5vw;
}

#aboutDescrambler{
  color:white;
  margin-top: 6vh;
}

.main-content-links{
    text-decoration-line:none;
}
/* change color of text when hovering over it */
.main-content-links:hover{
    color: rgb(252, 163, 17);
}
/* links look the same after visited*/
.main-content-links:visited{
  color:white;
}

.category{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto;
  background-color: rgb(229, 229, 229);
  /*box-shadow: 0px 0px 8px 0px rgb(28, 27, 27);*/
  height: 20vh;
  border-style:solid;
  border-color: rgb(252, 163, 17);
  /*border-color: rgb(255, 252, 247); */
  grid-template-areas: "title title" "desc desc";
}

/* properties for content titles */
.category-title{
  grid-area:title;
  align-self: center;
  margin-left: 2vh;
}

/* places image on right side of each content grid */
.category-img{
  grid-area:img;
  max-width: 20vh;
}

/* properties for content descriptions */
.category-description{
  grid-area:desc;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 2vw;
}

/* aligns links within description section of each content box */
.category-links{
  grid-area:desc;
  align-self: end;
  max-width: fit-content;
  margin-left: 10%;
  margin-right: 2vw;
  margin-bottom: 2vh;
}


/* Settings for small screens 
@media only screen and (max-wdith:700px){

}
*/