body{
  display:flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color:#e0e0e2;
}

/* navigation bar, duh */
#navbar{
  display:flex;
  flex-wrap:wrap;
  align-content: center;
  justify-content: space-around;
  overflow:hidden;
  max-width: 100%;
  min-height:7vh;
  height:5vh;
  color: rgb(252, 163, 17);
  background-color: #2b4162; /* rgb(20, 33, 61); */

  position:fixed;
  bottom: 0;
  width: 100%;

  z-index:1;
}

.nav-text{
  font-size:2vh;
}

#name{
  display:flex;
  justify-content:center;
  color:white;
  padding: .5vh 0vh 1.5vh 0vh;
  background-image: linear-gradient(0, rgba(20, 33, 61,0), rgba(20, 33, 61,1));
  /*sticky*/
  position:fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyTop{
  position:fixed;
  top: 0;
  width: 100%;
}

.stickyBot{
  position:fixed;
  bottom: 0;
  width: 100%;
}

/* default no margin */
h1, h2, h3, h4, h5, p, a{
  margin:0px;
}

h1,h2{
  pointer-events: none;
}

.content-text{
  margin: 2vh 5vw 2vh 5vw;
}

/* get rid of line under link */
a{
  text-decoration-line:none;
}
a:link{
  color: rgb(252, 163, 17);
}
/* change color of text when hovering over it */
a:hover{
  color: rgb(252, 163, 17);
}
/* links look the same after visited*/
a:visited{
  color:rgb(252, 163, 17);
}

/* links in home-content should be black */
a.project-links:visited{
  color:rgb(252, 163, 17);
}
a.project-links:hover{
  color: rgb(252, 163, 17);
}
a.project-links:link{
  color: rgb(252, 163, 17);
}
a.nav{
  color:aqua;
}