/* */
.content-block{
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  min-height: 40vh;
  margin-top:0vh;
  padding-top:5vh;
  /*offset titles for navbar anchors*/
  
  position:relative;
  top: 5vh;

}

.section-title{
  color: white;
  font-size: 10vw;
  
  /*visibility:hidden;*/
}

#splash{
  min-height:60vh;
}

#resume{
}

#projects{

}

.contact{
  margin-top:6vh;
  min-height:80vh;
  overflow:hidden;
}

.contact::-webkit-scrollbar{
  display:none;
}

.contact::-webkit-scrollbar{
  display:none;
}

/* intro section*/
#intro-block{
  display:grid;
  grid-template-areas:
    "intro-title" 
    "intro-links";
  row-gap:3vh;
  margin:10vh auto auto auto;
  /*background-color: green; */
}

#intro-title{
  text-align: center;
  font-size: 10vw;
  color: white;
}

#intro-links{
  display:flex;
  justify-content:space-around;
}

/* resume section*/
#resume-document{
  max-width: 85vw;
  margin-top: 2vh;
}


/* projects section*/
.project-box{
  display:grid;
  grid-template-areas:
  "title       title       title       title"
  "description description description description"
  "description description description description"
  "demo        demo        code        code";
  min-height:15vh;
  max-width:90vw;
}

.project-title{
  grid-area: title;
  font-size: 5vw;
  align-self:top;
  text-align: center;
  margin-top:2vh;
  margin-bottom:1vh;
}

.project-description{
  grid-area:description;
}

.project-demo-link{
  grid-area:demo;
  align-self:center;
  justify-self:center;
  text-align:center;
  margin-block:2vh;
}

.project-code-link{
  grid-area:code;
  align-self:center;
  justify-self:center;
  text-align:center;
}

/*
.project-demo-link{
  grid-area:demo;
  max-width: 5vw;
  justify-content: center;
  text-align:center;
}

.project-code-link{
  grid-area:code;
  max-width: 5vw;
}
*/

/* contact section*/

#contact-links-box{
  display:flex;
  width:50%;
  align-items:center;
  justify-content:space-around;
  margin-top:3vh;
  margin-bottom:1vh;
}

#contact-googleform{
  overflow:hidden;
}

#contact-gf{
  overflow-y:scroll;
}

#contact-email-box{
  color: white;
  margin-top:3vh;
  margin-bottom:3vh;
}

/* screens bigger than phones */
@media screen and (min-width: 400px){
  .content-block{
    padding-top:10vh;
  }

  #intro-block{
    margin-top:5vh;
    /*background-color: green; */
  }

  #intro-title{
    font-size: 8vw;
  }

  .section-title{
    color: white;
    font-size: 8vw;
  }

  #resume-document{
    max-width: 75vw;
  }

  .project-box{
    min-width:85%
  }

  .project-title{
    margin-top:4vh;
    text-align:center;
    font-size:5vw;
  }

  .project-description{
    text-align:center;
  }
}

