/* */

/* remove min height for zooming on desktop MODIFY MEDIA QUERY YOU DINGUS */

/* VW used for mobile, overwritten with media queries */

.content-block{
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  min-height: 40vh;
  margin-top:0vh;
  padding-top:5vh;
  /*offset titles for navbar anchors*/
  
  position:relative;
  top: 5vh;

}

.section-title{
  color: white;
  font-size: 10vw;
  
  /*visibility:hidden;*/
}

#splash{
  min-height:60vh;
}

.contact{
  margin-top:6vh;
  min-height:80vh;
  overflow:hidden;
}

.contact::-webkit-scrollbar{
  display:none;
}

.contact::-webkit-scrollbar{
  display:none;
}

/* intro section*/
#intro-block{
  display:grid;
  grid-template-areas:
    "title"
    "title"
    "title"
    "links";
  row-gap:3vh;
  /* supposed to help with text not centering on safari browser*/
  margin-top:0px;
}

.intro-title{
  grid-area:title;
  text-align: center;
  font-size: 10vw;
  color: white;
}

#intro-links{
  grid-area:links;
  display:flex;
  justify-content:space-around;
}

/* resume section*/
#resume-document{
  max-width: 85vw;
  margin-top: 2vh;
}


/* projects section*/
.project-box{
  display:grid;
  grid-template-areas:
  "title       title       title       title"
  "description description description description"
  "description description description description"
  "demo        demo        code        code";
  min-height:15vh;
  max-width:90vw;
}

.project-title{
  grid-area: title;
  font-size: 5vw;
  align-self:top;
  text-align: center;
  margin-top:2vh;
  margin-bottom:1vh;
}

.project-description{
  grid-area:description;
}

.project-demo-link{
  grid-area:demo;
  align-self:center;
  justify-self:center;
  text-align:center;
  margin-block:2vh;
}

.project-code-link{
  grid-area:code;
  align-self:center;
  justify-self:center;
  text-align:center;
}

/* contact section*/

#contact-links-box{
  display:flex;
  width:50%;
  align-items:center;
  justify-content:space-around;
  margin-top:3vh;
  margin-bottom:1vh;
}

#contact-googleform{
  overflow:hidden;
}

#contact-gf{
  overflow-y:scroll;
}

#contact-email-box{
  color: white;
  margin-top:3vh;
  margin-bottom:3vh;
}

/* screens bigger than phones */
@media screen and (min-width: 400px){
  .content-block{
    min-height: 0px;
    padding-top:10vh;
  }

  #intro{
    margin-bottom:10rem;
  }

  .intro-title{
    font-size: 7rem;
  }

  .section-title{
    color: white;
    font-size: 8rem;
  }

  #resume-document{
    max-width: 50vw;
  }

  #projects{
    margin-bottom:5rem;
  }

  .project-box{
    min-width:85%
  }

  .project-title{
    margin-top:4vh;
    text-align:center;
    font-size:5rem;
  }

  .project-description{
    text-align:center;
  }

  .project-demo-link{
    grid-area:demo;
    text-align:right;
    justify-self:auto;
    margin-block:2vh;
    margin-right:5rem;
  }
  
  .project-code-link{
    grid-area:code;
    text-align:left;
    justify-self:auto;
    margin-block:2vh;
    margin-left:5rem;
  }

  #contact-links-box{
    display:grid;
    width:50%;
    grid-template-columns: 1fr 1fr;
    align-items:auto;
    justify-content:auto;
    margin-top:3vh;
    margin-bottom:1vh;
  }
}