<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/home.css" rel="stylesheet">
    <link href="static/descrambler.css" rel="stylesheet">
    <!-- to user roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>



<body>
    <!-- Nav Bar-->
    <div class="nav">
        <a href="/"> Home </a>
        <a href="/about"> About </a>
        <a href=""> Contact</a>
    </div>

    <!-- Banner-->
    <div class="descrambler-banner">
        <h2 style="margin: 2vh 4vw 2vh 4vw;">
            Enter letters to find words that can be made with some or all of them. Each letter is only used once.
        </h2>
        <div class="descrambler-input">
            <!-- return the function to keep its affects for more than a second
            descrambleAPIreroute(event) 
            onsubmit="return readDictionary(event)-->
            <form >
                <script>
                    function descrambleAPIreroute(event){
                        var element = document.getElementById("results");
                        element.textContent = "test123";
                        //returning false prevents submission and keeps text
                        return false;
                    }
                </script>
                
                <input type="text" name="sorted" id="sorted" placeholder="Letters to descramble" minlength="2" maxlength="40" required style="min-width: 60vw;" autofocus >
                <input type="submit">
            </form>
        </div>
        <div class="descrambler-results">
        </div>
    </div>
    <!-- Links to works-->
    <!-- Row of latest content-->
    <div class="descrambler-grid">
        <!-- GPX Capstone-->
        <div class="main-content">
            <h3 style="color:white;"> results:</h3>
            <p id="results" style="color:white;">{{possibleWords}}</p>
        </div>
    </div>
</body>
</html>