<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/home.css" rel="stylesheet">
    <link href="static/descrambler.css" rel="stylesheet">
    <!-- to user roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>



<body>
    <!-- Nav Bar-->
    <div class="nav">
        <a href="/"> Home </a>
        <a href="/about"> About </a>
        <a href=""> Contact</a>
    </div>

    <!-- Banner-->
    <div class="descrambler-banner">
        <h2 style="margin: 2vh 4vw 2vh 4vw;">
            Enter letters to find words that can be made with some or all of them. Entering multiple of one letter will include words that use that letter multiple times.
        </h2>
        <div class="descrambler-input">
            <!-- return the function to keep its affects for more than a second
            descrambleAPIreroute(event) 
            onsubmit="return readDictionary(event)-->
            <form >
                <script>
                    function descrambleAPIreroute(event){
                        var element = document.getElementById("results");
                        element.textContent = "test123";
                        //returning false prevents submission and keeps text
                        return false;
                    }
                </script>
                
                <input type="text" name="sorted" id="sorted" placeholder="Letters to descramble" minlength="2" maxlength="40" required style="min-width: 60vw;" autofocus >
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="descrambler-results">
            <h3 style="margin: 2vh 4vw 2vh 4vw;"> results:</h3>
            <p id="results" style="margin: 2vh 4vw 2vh 4vw;">{{possibleWords}}</p>
        </div>
    </div>
    <!-- Links to works-->
    <!-- Row of latest content-->
    <div class="descrambler-grid">
        <!-- GPX Capstone-->
        <div class="main-content">
            <h3 style="color:white;"> About this project</h3>
            <p id="aboutDescrambler"></p>
            <script>
                //This script lets me populate the part of the page that describes this project
                //from a file rather than having the long description typed here
                text = document.getElementById('aboutDescrambler');
                xhr = new XMLHttpRequest();
                xhr.open("GET", "http://153.33.140.189:5000/resources/aboutDescrambler.txt");
                xhr.send();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4)               //the readyState if the status of the request 
                        text.innerHTML = xhr.responseText; // (http://www.w3schools.com/ajax/ajax_xmlhttprequest_onreadystatechange.asp)
                    // 4 is a completed request
                }
            </script>
        </div>
    </div>
</body>
</html>