<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/lookAndFeel.css" rel="stylesheet">
    <link href="static/descrambler.css" rel="stylesheet">
    <!-- for p5 library -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
    <script scr="sketch.js"></script>
    <!-- to use roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>



<body>
    <!-- top name -->
    <div id="name">
        <p> ANTHONY MOORE</p>
    </div>
    <!-- Nav Bar-->
    <div id="navbar">
        <a href="/#" class="nav-text"> Top </a>
        <a href="/#resume" class="nav-text"> Resume </a>
        <a href="/#projects" class="nav-text"> Projects</a>
        <a href="/#contact" class="nav-text"> Contact</a>
    </div>

    <iframe src="https://editor.p5js.org/amoor131/full/-wToNdizT" style="min-height:1500px;"></iframe>
    <!--
    <iframe src="https://editor.p5js.org/p5/full/Tx2cjvW9PNY" style="min-height:500px;"> </iframe>
    -->

</body>
</html>