<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/onepage.css" rel="stylesheet">
    <link href="static/lookAndFeel.css" rel="stylesheet">
    
    <!-- <link href="static/home.css" rel="stylesheet"> -->
    <!-- to user roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- google-site-verification: google6a0a97c61cf169ef.htm-->
</head>

<body>
    <!-- top name -->
    <div id="name">
        <p style="font-size:2vh;"> ANTHONY MOORE</p>
    </div>
    <!-- Nav Bar-->
    <div id="navbar">
        <a href="/#" class="nav-text"> Top </a>
        <a href="/#projects" class="nav-text"> Projects</a>
        <a href="/#resume" class="nav-text"> Resume</a>
        <a href="/#contact" class="nav-text"> Contact</a>
    </div>

    <!--  welcome  -->
    <div class="content-block" id="welcome-block">
        <h1 id="welcome-title"> Oh, Hey! <br> Welcome to my site </h1>
        <img src="static/imgs/Anthony-Sitting.png" id="AntSitting">
    </div>
    
    <!--  About  -->
    <div class="content-block" id="about-summary">
        <p class="content-text">I'm Anthony Moore. I recently graduated with a BS in computer science and have been focusing on gaining experience with web applications to broaded my ability to make useful and widely accessable programs. </p>
    </div>
    <div class="content-block" id="about-paragraph">
        <p class="content-text">Since graduating from Kent State University, I've been gaining experience and knowledge on web developement to increase the reach of my projects. I've enjoyed the mix of complex problem solving with visual and creative work that I've seen
            in web developement. When I'm not contributing to new personal projects, I'm often spending my time painting, listening to music, playing on my ukulele, or going on walks when Ohio's weather permits it.</p>
    </div>
    
    <!--  projects  -->
    <div class="content-block" id="projects">
        <div class="section-title">
            Projects
        </div>
        <!--GPX-->
        <div class="project-box">
            <div class="project-title">
                GPX Visualizer
            </div>
            <div class="project-description content-text">
                A website that creates customizable visualizations using GPX file and Strava activity data. 
                I primarily contributed in creating the landing page, parameters page, and generated art page.
            </div>
            <div class="project-demo-link">
                <a href="https://gpxvis.com">
                    Demo
                </a>
            </div>
            <div class="project-code-link">
                <a href="https://github.com/jmuzina/Capstone">
                    Code
                </a>
            </div>
        </div>
        <!--Descrambler-->
        <div class="project-box">
            <div class="project-title">
                Descrambler
            </div>
            <div class="project-description content-text">
                A small program that outputs all english words that can be made from letters its given. 
                Originally on pythonanywhere.com, I have now integrated this into this website.
            </div>
            <div class="project-demo-link">
                <a href="/descrambler">
                    Demo
                </a>
            </div>
            <div class="project-code-link">
                <a href="https://github.com/amoor131/descrambler">
                    Code
                </a>
            </div>
        </div>
    </div>

    <!--  resume  -->
    <!--  resume id only used for navigation  -->
    <div class="content-block" id="resume">
        <div class="section-title">
            Resume
        </div>
        
        <div id="resume-document">
            <a href="static/AnthonyMooreResume.pdf" download>
                <img src="static/imgs/resumeImage.PNG" id="resume-document">
            </a>
        </div>
        
    </div>

    <!--  Contact  -->
    <div class="content-block" id="contact">
        <div class="section-title">
            Contact Me
        </div>
        <div id="contact-links-box">
            <a href="https://www.linkedin.com/in/anthonymoorecs/" style="text-align:right; margin-right:5rem;">
                <img src="static/imgs/linkedin-logo.png" alt="Linkedin">
            </a>
            <a href="https://github.com/amoor131" style="margin-left:5rem;">
                <img src="static/imgs/github-logo.png" alt="github">
            </a>
        </div>
        <div id="contact-googleform">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdqCdcgb8XCk2E7wsX2t3RADGs5Z8NcLysH1kYScGISEYTvlw/viewform?embedded=true" 
                width="370" 
                height="1250" 
                frameborder="0" 
                marginheight="0" 
                marginwidth="0">
                Loading…
            </iframe>
            
        </div>
    </div>

    <!--scrolls to top of page-->
    <!--from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp-->
    <script>
        function toTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>