<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/index.css" rel="stylesheet">
    
    <!-- <link href="static/home.css" rel="stylesheet"> -->
    <!-- to user roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- google-site-verification: google6a0a97c61cf169ef.htm-->
</head>

<body>
    <!-- top nav -->
    <div id="topnav">
        <h3 id="name"> Anthony Moore </h3>
        <div class="headerButtons">
            <a href="https://www.ampersanthony.com"> Journal Website </a>
            <a href="/descrambler"> Descrambler </a>
            <a href="https://gpxvis.com"> GPX Visualizer </a>
        </div>
    </div>
    <!-- main -->
    <div id="main">
        <!-- title | content | button -->
        <div>
            <h1> Welcome to my virtual resume </h1>
            <p> I'm a Kent State University graduate with a Bachelor's of Science in computer science seeking a role as
                a full stack developer </p>
            <a class="contactMe"> Contact me</a>
        </div>
        <!-- image -->
        <i>

        </i>
    </div>
        <!-- title | three projects | descriptions -->
        <div id="recentProjects"> <!-- direction column ? -->
            <h2> Recent projects </h2>
            <div class="images">
                <div class="photoPair">
                    <img id="OnlineJournal" class="picture" src="/static/imgs/spring.jpg"> </img>
                    <span > This is a spring</span>
                </div>
                <div class="photoPair">
                    <img id="Descrambler" class="picture" src="/static/imgs/tennis.jpg"> </img>
                <span> This is a ball</span>
                </div>
                <div class="photoPair">
                    <img id="gpxvis" class="picture" src="/static/imgs/snow.jpg"> </img>
                <span> This is a slope</span>
                </div>
            </div>
        </div>
        
        <!-- text section -->
        <div class="quoteSection">
            <p class="quote"> This is where I would place a quote from a manager that really appreciated my attitude and work ethic</p>
            <p class="quotePerson"> - Their name</p>
        </div>
    
        <!-- call to action -->
        <div>
            <h4> I'd love to be a part of your team</h4>
            <p> Don't be shy, shoot me an email. I'll be excited to hear from you</p>
            <a class="contactMe"> Contact me</a>
        </div>
    
        <!-- footer -->
        <footer>
    
        </footer>
</body>

</html>