<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Portfolio</title>
    <link href="static/onepage.css" rel="stylesheet">
    <link href="static/lookAndFeel.css" rel="stylesheet">
    
    <!-- <link href="static/home.css" rel="stylesheet"> -->
    <!-- to user roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- google-site-verification: google6a0a97c61cf169ef.htm-->
</head>

<body>
    <!-- Nav Bar-->
    <div id="navbar">
        <a href="/"> Top </a>
        <a href="/#resume"> Resume </a>
        <a href="/#projects"> Projects</a>
        <a href="/#contact"> Contact</a>
    </div>
    <!-- top name-->
    <div id="name">
        <p> ANTHONY MOORE</p>
    </div>
    
    <!--  intro  -->
    <div class="content-block" id>
        <div id="intro-block" >
            <div id="intro-title" style="justify-content: center;">
                Software <br> and <br> web <br> developer
            </div>
            <div id="intro-links">
                <img src="static/imgs/linkedin-logo.png" alt="Linkedin" href="https://www.linkedin.com/in/anthonymoorecs/">
                <img src="static/imgs/github-logo.png" alt="github" href="https://github.com/amoor131">
            </div>
        </div>
    </div>
    <!--  resume  -->
    <div class="content-block" id>
        <div class="section-title" id="resume">
            Resume
        </div>
        <div id="resume-document">
            this is where my resume would be...IF I HAD ONE
        </div>
    </div>
    <!--  projects  -->
    <div class="content-block" id>
        <div class="section-title" id="projects">
            Projects
        </div>
        <div class="project-box">
            <div class="project-title">
                GPX Visualizer
            </div>
            <div class="project-description">

            </div>
            <div class="project-demo-link">

            </div>
            <div class="project-code-link">

            </div>
        </div>
    </div>
    <!--    -->
    <div class="content-block" id>
        <div class="section-title" id="contact">
            Contact
        </div>
    </div>
    <!--Sticky navbar-->
    <!--from https://www.w3schools.com/howto/howto_js_navbar_sticky.asp-->
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {sticky()};
        // Get the navbar
        var navbar = document.getElementById("navbar");
        var name = document.getElementById("name");
        // Get the offset position of the navbar
        var navbarSticky = navbar.offsetTop;
        var nameSticky = name.offsetTop;
        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function sticky() {
            stickynav();
            stickyname();
        }
        function stickynav() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
        function stickyname() {
            if (window.pageYOffset >= sticky) {
                name.classList.add("sticky")
            } else {
                name.classList.remove("sticky");
            }
        }
    </script>

</body>

</html>